@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-black tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl 
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-500 rounded-xl uppercase bg-gradient-to-r from-blue-500 to-blue-900 text-white
  }

  .navbar {
    z-index: 1;
    background: #ddd;
    background-color: rgba(217, 177, 255, 0.05);
    background-image: linear-gradient(45deg, #7D22D8, rgba(217, 177, 255, 0.9), rgb(169, 85, 247, 0.9));
    background-size: 400% 400%;
    animation: bg-animation 5s ease infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

}